body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
#about {
  height: 100vh;
}
.cttttontainer {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}
#one {
  background: lime;
}
#two {
  background: gold;
}
#three {
  background: orange;
}
.orangetext {
  color: orange;
  font-weight: bold;
}
section {
  flex: none;
  display: flex;
  justify-content: centre;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  /* scroll-margin-left: 100px; */
}

/* .active {
 margin-bottom: -39px;  transition: all 0.5s ease-in-out;

}
.active:hover {
  border-bottom: 6px solid orange;
 height: 73px;
} */

#navbar {
  list-style: none;
  background: #222;
}

#navbar span {
  position: relative;
  float: left;
  line-height: 60px;
  background: inherit;
  text-align: center;
  transition: all 0.2s;
}
.activesite,
#navbar span a {
  position: relative;
  padding: 0px 20px 26px 20px;
  margin-bottom: -22px;
  line-height: inherit;
  color: white;
  text-decoration: none;
  background: black;
}

#navbar span:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transform: rotate(45deg);
  transition: all 0, background 0.2s;
}
#navbar span:hover:before {
  margin-top: 1px;
  border-radius: 50% 50% 0 50%;
  transition: all 0.1s, background 0.2s,
    margin-top 0.2s cubic-bezier(0.5, 30, 0.2, 0);
}
#navbar span:hover,
#navbar span:hover:before {
  background: orange;
}
